################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculadoraEstadisticaPOO/ConsoleApp1/.vs/ConsoleApp1
/CalculadoraEstadisticaPOO/ConsoleApp1/.vs/ProjectEvaluation
